{% extends "student/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
          <p class="text-secondary">{{ user.profile.role }}</p>
          <p class="text-secondary">{{ user.profile.rollno }}</p>
        </div>
      </div>
      <div>
        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
      </div>
    </div>
{% endblock content %}