{% extends "teacher/base.html" %}
{% block content %}
    <div class="content-section">
      <div class="media"><h2 class="account-heading">WORKS</h2></div>
        <div class="media-body">
        <a class="nav-item nav-link" href="{% url 'topics-create' %}">Add Topic</a>
        <a class="nav-item nav-link" href="{% url 'remarks-create' %}">Add Remarks</a>
        <a class="nav-item nav-link" href="{% url 'homeworks-create' %}">Add Homeworks</a>
        <a class="nav-item nav-link" href="{% url 'submissions-create' %}">Add Submissions</a>
        <a class="nav-item nav-link" href="{% url 'projects-create' %}">Add Projects</a>
        <a class="nav-item nav-link" href="{% url 'reminders-create' %}">Add Reminders</a>
        <a class="nav-item nav-link" href="{% url 'timetable-create' %}">Add TimeTable</a>
      </div>
    </div>
{% endblock %} 